            <!-- META SECTION -->
            {% extends 'companies/base.html' %}
            {% block title %}Gallery | Dolby Agency{% endblock %}
            {% block body %}
            {% load staticfiles %}

                <!-- page content -->
                <div class="page-content">

                    <!-- page content wrapper -->
                    <div class="page-content-wrap bg-light">
                        <!-- page content holder -->
                        <div class="page-content-holder no-padding">
                            <!-- page title -->
                            <div class="page-title">
                                <h1>Gallery</h1>
                                <!-- breadcrumbs -->
                                <ul class="breadcrumb">
                                    <li><a href="{% url 'companies:index' %}">Home</a></li>
                                    <li><a href="{% url 'companies:services' %}">Services</a></li>
                                    <li><a href="{% url 'companies:aboutUs' %}">About Us</a></li>
                                    <li><a href="{% url 'companies:contacts' %}">Contact Us</a></li>
                                    <li class="active">Our Gallery</li>
                                </ul>
                                <!-- ./breadcrumbs -->
                            </div>
                            <!-- ./page title -->
                        </div>
                        <!-- ./page content holder -->
                    </div>
                    <!-- ./page content wrapper -->


                    <!-- page content wrapper -->
                <div class="page-content-wrap">
                    <!-- page content holder -->
                    <div class="page-content-holder">

                        <div class="block-heading this-animate" data-animate="fadeInDown">
                            <h2>OUR GALLERY: A bit of our work</h2>
                            <div class="block-heading-text">
                                Below is a preview of Dolby Agency's work with our clients.
                            </div>
                        </div>


                        <div class="row mix-grid thumbnails">
                            <div class="col-md-4 col-xs-4 mix cat_nature cat_all">
                                <a href="https://www.facebook.com/SpurAtTheHubKaren/" class="thumbnail-item">
                                    <img src="{% static 'companies/css/ka/gallery/Burger3.jpg' %}" alt="EaglePeakSpurKaren"/>
                                    <div class="thumbnail-info">

                                    </div>
                                </a>
                                <div class="thumbnail-data">
                                    <h5> Spur At The Hub, Karen.</h5>

                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4 mix cat_space cat_all">
                                <a href="https://www.facebook.com/SpurAtTheHubKaren/" class="thumbnail-item">
                                    <img src="{% static 'companies/css/ka/gallery/T-bone.png' %}" alt="EaglePeakSpurKaren"/>

                                    <div class="thumbnail-info">

                                    </div>
                                </a>
                                <div class="thumbnail-data">
                                    <h5> Spur At The Hub, Karen.</h5>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4 mix cat_nature cat_all">
                                <a href="https://www.facebook.com/SpurAtTheHubKaren/" class="thumbnail-item">
                                    <img src="{% static 'companies/css/ka/gallery/Ribs2.jpg' %}" alt="EaglePeakSpurKaren"/>
                                    <div class="thumbnail-info">

                                    </div>
                                </a>
                                <div class="thumbnail-data">
                                    <h5> Spur At The Hub, Karen.</h5>
                                </div>
                            </div>
                        </div>
                         <div class="row mix-grid thumbnails">
                            <div class="col-md-4 col-xs-4 mix cat_music cat_all">
                                <a href="https://www.facebook.com/trbconsultantslimited/" class="thumbnail-item">
                                    <img src="{% static 'companies/css/ka/gallery/Accounting3.jpg' %}" alt="trbconsultantslimited"/>
                                    <div class="thumbnail-info">

                                    </div>
                                </a>
                                <div class="thumbnail-data">
                                    <h5>Trackbook Consultants Ltd.</h5>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4 mix cat_nature cat_all">
                                <a href="https://www.facebook.com/trbconsultantslimited/" class="thumbnail-item">
                                    <img src="{% static 'companies/css/ka/gallery/Tax3.jpg' %}" alt="trackBook"/>
                                    <div class="thumbnail-info">

                                    </div>
                                </a>
                                <div class="thumbnail-data">
                                     <h5>Trackbook Consultants Ltd.</h5>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4 mix cat_nature cat_all">
                                <a href="https://www.facebook.com/trbconsultantslimited/" class="thumbnail-item">
                                    <img src="{% static 'companies/css/ka/gallery/Book keeping2.jpg' %}" alt="Trackbook"/>
                                    <div class="thumbnail-info">

                                    </div>
                                </a>
                                <div class="thumbnail-data">
                                     <h5>Trackbook Consultants Ltd.</h5>
                                </div>
                            </div>
                         </div>
                         <div class="row mix-grid thumbnails">
                            <div class="col-md-4 col-xs-4 mix cat_music cat_all">
                                <a href="https://www.facebook.com/trbconsultantslimited/" class="thumbnail-item">
                                    <img src="{% static 'companies/css/ka/gallery/Secretarial1.jpg' %}" alt="Trackbook"/>
                                    <div class="thumbnail-info">

                                    </div>
                                </a>
                                <div class="thumbnail-data">
                                     <h5>Trackbook Consultants Ltd.</h5>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4 mix cat_nature cat_all">
                                <a href="https://www.facebook.com/trbconsultantslimited/" class="thumbnail-item">
                                    <img src="{% static 'companies/css/ka/gallery/Tax4.jpg' %}" alt="trackBook"/>
                                    <div class="thumbnail-info">

                                    </div>
                                </a>
                                <div class="thumbnail-data">
                                     <h5>Trackbook Consultants Ltd.</h5>
                                </div>
                            </div>
                         </div>

                    </div>
                    <!-- ./page content holder -->
                </div>
                <!-- ./page content wrapper -->
                    <!-- ./page content wrapper -->

                </div>
                <!-- ./page content -->
            {% endblock %}



